@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
} 

.title {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    z-index: 1;
}

.text {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;

    font-size: 100px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(255, 0, 0, 1);
    user-select: none;
    z-index: 1;
}

#text {
    color: white;
    font-family: "Bebas Neue", sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;

    font-size: 100px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(255, 0, 0, 1);
    user-select: none;
    z-index: 1;
}

.text:hover {
    cursor: pointer;
}

.intro {
    margin-top: 200px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    top: calc(50% - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact {
    margin-top: 175px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    top: calc(50% - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clients {
    margin-top: 175px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    top: calc(50% - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.galleries {
    margin-top: 175px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    top: calc(50% - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services {
    margin-top: 175px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    top: calc(50% - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pricing  {
    margin-top: 175px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    top: calc(50% - 50px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}




.intro-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.row {
    display: contents;
}

.pos-text {
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    margin-top: 300px;
}

.column {
    background-color: lightgray;
    padding: 20px;
    margin-left: 50px;
    height: 200px; 
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: black; 
    border: 1px solid black;
}

/* .column:hover {
    cursor: pointer;
} */

.row .column:nth-child(5) {
    transform: translateX(50%);
    grid-column: 1 / 2;
}

.row .column:nth-child(6) {
    transform: translateX(50%);
    grid-column: 2 / 3;
}

.row .column:nth-child(7) {
    transform: translateX(50%);
    grid-column: 3 / 4;
}
.position {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}

.about {
    margin-top: 75px;
    font-size: 50px;
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
}

.about-text {
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: space-around; /* Distribute items evenly */
    gap: 10px;
    margin-top: 20px;
}

.service-item {
    padding: 20px;
    text-align: center;
    flex: 1; /* Ensure items take equal space */
}

.navbar {
    overflow: hidden;
    position: fixed;
    justify-content: center;
    top: 110px; /* Adjust based on the height of the title */
    margin-left: 15px;
    width: 100%;
    z-index: 1;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-item {
    padding: 14px 20px;
}

.nav-item a {
    color: white;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    text-decoration: none;
    display: block;
}

.nav-item a:hover {
    transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.25s;
    color: rgb(255, 0, 0)
}